ul{
    list-style: none;
    background-color: black; 
    border: solid; 
    border-radius: 20px; 
    margin: 50px; 
    color: greenyellow;
    width: 30%;
    
    
}
ul img{
    width: 500px;
    height: 300px;
}